* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 230, 183);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 100px;
}

.logo-ctr {
  cursor: pointer;
}

.search-bar {
  height: 10%;
  width: 100%;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1%;
  margin-top: 1%;
}

.search-bar input {
  width: 20%;
  height: 100%;
  padding: 8px;
  /* padding-top: 10px; */
  font-family: Arial, Helvetica, sans-serif;
  /* resize: none; */
}

.search-bar textarea:focus {
  /* border: 2px solid orange; */
  border: none;
}

.search-bar button {
  width: 10%;
  padding: 10px;
  background-color: orange;
  border: none;
  box-shadow: none;
  border-radius: 2.5px;
  font-weight: 500;
  transition: ease-in-out 0.2s;
  border: 1px solid transparent;
}

.search-bar button:hover {
  /* box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.434); */
  cursor: pointer;
  border: 1px solid black;
  transform: scale(1.04);
}

.card {
  height: 300px;
  width: 225px;
  background-color: white;
  /* margin-left: 100px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* padding-left: 2%; */
  /* text-align: center; */
  gap: 2%;
  border-radius: 8px;
  box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.525);
  transition: ease-in-out 0.4s;
  margin-bottom: 2%;
}

.shim-card {
  background-color: rgba(62, 62, 62, 0.525);
  border: 1px solid black;
  opacity: 0.75;
}

.card:hover {
  scale: 1.04;
  box-shadow: 1px 1px 10px rgba(62, 62, 62, 0.525);
  cursor: pointer;
}

.food-img {
  height: 40%;
  width: 80%;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}

.shim-food-img {
  background-color: white;
}

.food-title {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  /* border: 1px solid red; */
  width: 80%;
  margin-top: 2%;
}

.ctr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  /* border: 1px solid red; */
}

.shim-ctr {
  background-color: white;
  height: 16%;
  border-radius: 5px;
}

.food-desc {
  font-size: 14px;
  text-align: justify;
  /* width: 80%; */
  /* border: 1px solid red; */
}

.food-rating {
  font-weight: bold;
}

.btn-ctr {
  width: 80%;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2%;
}

.btn {
  width: 45%;
  background-color: orange;
  padding: 4px 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
}

.shim-btn {
  background-color: white;
  height: 90%;
  width: 40%;
  padding: 4%;
}

.btn:hover {
  cursor: pointer;
  scale: 1.04;
  transition: ease-in-out 0.2s;
}

.card-container {
  /* width: 99%; */
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4%;
  margin-top: 20px;
  flex-wrap: wrap;
  /* column-gap: 10%; */
}

.video-ctr {
  height: 80vh;
  width: 100vw;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.preloader {
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: orange;
}

@keyframes rotate {
  from {
    /* transform: rotate(0deg); */
    scale: 1.5;
  }
  to {
    /* transform: rotate(360deg); */
    scale: 3;
  }
}

.preloader {
  animation: rotate 1s linear infinite;
}

.about-page {
  height: 80vh;
  width: 100vw;
  /* background-color: rgb(255, 194, 81); */
  /* color: white; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* filter: blur(5px); */
}


.about-page h1 {
  width: 30%;
  text-align: center;
  scale: 1.2;
  font-style: italic;
}

.contact{
  height: 80vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: white; */
  font-size: 50px;
  /* background-color: rgb(255, 194, 81); */
  gap: 4%;
}

.contact span{
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.contact span:hover{
  scale: 1.2;
  color: white;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.148);
}

.error-comp{
  height: 100vh;
  width: 100vw;
  /* background-color: rgb(255, 194, 81); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-comp div{
  height: 50vh;
  width: 50vw;
  background-image: url(./Utilities/errorImg.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
}

